@()
<!DOCTYPE html>
<html lang="en" xmlns:background-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/login_twofactor.css")"/>
</head>
<body>
<h2>update password and salt with encription</h2>
<form method="POST" action="@routes.UserController.addPasswordAndSalt">
    Enter Account Email
    <input type= "text" name="userEmail" id="userEmail"> <br>
    Enter Account Cell Phone (no dashes or spaces ex 5556667777)
    <input type= "text" name="cellPhone" id="cellPhone"> <br>
    Enter New Password
    <input type= "text" name="password" id="password">
    <br>
    <button type="submit">submit</button>
</form>
</body>
</html>
