@(patient: List[Patient])

<!DOCTYPE html>
<html>

<head>
    <title>My Information</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/login_twofactor.css")"/>
</head>
<body>

<h1>My Information</h1>

<table>
    <tc>
        <th></th>
        <th>&nbsp Patient ID &nbsp</th>
        <th>&nbspFirst Name&nbsp</th>
        <th>&nbspLast Name&nbsp</th>
        <th>&nbspDate of Birth&nbsp</th>
        <th>&nbspGender&nbsp</th>
        <th>&nbspAddress&nbsp</th>
        <th>&nbspCity&nbsp</th>
        <th>&nbspState&nbsp</th>
        <th>&nbspZip&nbsp</th>
        <th>&nbspCell Phone&nbsp</th>
        <th>&nbspEmail&nbsp</th>
    </tc>
    @for(patient <- patient) {

    <tr>
        <td><a href="@routes.UserController.editUser(patient.patientId)">Edit info <br> or password</a></td>
        <td>&nbsp@patient.patientId</td>
        <td>&nbsp@patient.firstName</td>
        <td>&nbsp@patient.lastName</td>
        <td>&nbsp@patient.dob</td>
        <td>&nbsp@patient.gender</td>
        <td>&nbsp@patient.address</td>
        <td>&nbsp@patient.city</td>
        <td>&nbsp@patient.state</td>
        <td>&nbsp@patient.zip</td>
        <td>&nbsp@patient.cellPhone</td>
        <td>&nbsp@patient.email</td>
    </tr>
    }

</table>

<form method="POST" action="@routes.UserController.logout">
    <button type="submit">Log Out</button>
    <br>
</form>



</body>
</html>